<div class="container">
  <h2>Pick your poison:</h2>
  <div>
    <%= simple_form_for :results, url: results_path, method: :get do |f| %>

    <div class="checkbox-container">
	    <%= f.collection_check_boxes(:category, [['Cider', 'Cider'], ['IPA', 'IPA'], ['Lager', 'Lager'], ['Pale Ale','Pale Ale']], :first, :last, include_hidden: false) do |b| %>
	        <%= b.check_box class: 'checkbox-input' %>
	        <%= b.label class: 'checkbox-label' do %>
	        	<i class="fas fa-beer"></i>
	        	<%= b.text %>
	        <% end %>
	    <% end %>
    </div>
    <h2 class="radio-header">Plans for tonight?</h2>
    <div class="radio-container">
      <%= f.collection_radio_buttons(:size, [['single', 'Single'], ['pack', '4 or 6 Pack'], ['case', 'Case']], :first, :last, include_hidden: false) do |a| %>
        <%= a.radio_button class: 'radio-input' %>
        <%= a.label class: 'radio-label' %>
      <% end %>
    </div>
    
    <%= f.input :location, as: :string, placeholder: 'Search your location...', label_html: { class: 'preferences-store-location' }, input_html: { id: 'store-location' } %>
    <%= f.button :submit, value: 'Go', "data-disable-with" => "Finding Best Beers for You...", class: "btn btn-primary" %>
    <% end %>
  </div>

</div>
