  <div>
    <%= simple_form_for :filters, url: results_path, method: :get do |f| %>
    <% the_params = params[:filters] || params[:results] %>
      <%= f.input :category, :as => :hidden, :input_html => { :value => the_params[:category] } %>
      <%= f.input :location, :as => :hidden, :input_html => { :value => the_params[:location] } %>
      <%= f.input :size, :as => :hidden, :input_html => { :value => the_params[:size] } %>
      <%= f.collection_radio_buttons :options, [['Distance in meters', 'meter'], ['Time in minutes', 'min']], :last, :first %>
      <%= f.input :amount, as: :integer, label: false %>
      <%= f.button :submit, value: 'Go', "data-disable-with" => "Filtering Best Beers for You..." %>
    <% end %>
    </div>
<div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
  <% the_params = params[:filters] || params[:results] %>
  data-center="<%= Geocoder.search(the_params[:location]).first.coordinates %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>
<div>
  <% @final_results.first(5).each do |x| %>
  <div class="card">
    <h1><%= x.first.product.drink.name %></h1>
    <h3><%= x.first.product.drink.abv %>%</h3>
    <h3>$<%= x.first.inventory.price_cents.to_f/100 %></h3>
    <h3><%= x.first.inventory.store.name %></h3>
  </div>
  <% end %>
</div>
