
<div>
<%= simple_form_for :filters, html: { class: "filters-dropdown-form"}, remote: true, url: results_path, method: :get do |f| %>
    <% the_params = params[:filters] || params[:results] || params[:favourited] %>
      <%= f.input :category, :as => :hidden, :input_html => { :value => the_params[:category] } %>
      <%= f.input :location, :as => :hidden, :input_html => { :value => the_params[:location] } %>
      <%= f.input :size, :as => :hidden, :input_html => { :value => the_params[:size] } %>

<div class="filters-dropdown-buttons">

<div class="btn-group">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Size
    </button>
  <div class="dropdown-menu dropdown-menu-center dropdown-menu-labels">
    <div class="dropdown-menu-content">
      <% if the_params[:size] == "pack" %>
      <%= f.collection_radio_buttons :sizetype, [['6 Pack', '6'], ['4 Pack', '4'], ['Both', '4 6']], :last, :first %>
      <% elsif the_params[:size] == "case" && the_params[:category].include?("Lager") %>
      <%= f.collection_radio_buttons :sizetype, [['24 Pack', '24'], ['30 Pack', '30'], ['Both', '24 30']], :last, :first %>
      <% else %>
      <small>There is only 24 pack available for your selection</small>
      <% end %>
    </div>
  </div>
</div>

<div class="btn-group">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Distance
    </button>
  <div class="dropdown-menu dropdown-menu-center dropdown-menu-labels">
    <div class="dropdown-menu-content">
      <h6>What distance in metres or time spent walking is saving $1 worth to you?</h6>
      <%= f.collection_radio_buttons :distancetype, [['Distance (meters)', 'meters'], ['Time (minutes)', 'minutes'], ['Default', 'Reset']], :last, :first %>
      <%= f.input :amount, as: :integer, label: false, placeholder: 'Type a number...' %>

    </div>
  </div>
</div>
    <%= f.button :submit, value: 'Go', "data-disable-with" => "Filtering Best Beers for You...", class: "btn btn-danger" %>
  <% end %>
</div>

</div>

<div
  id="map"
  style="width: 100%;
  height: calc(100vh - 62.92px);
  position: relative;"
  data-markers="<%= @markers.to_json %>"
  <% the_params = params[:filters] || params[:results] || params[:favourited] %>
  <% location = the_params[:location].gsub("Greater ", "") %>
  <% location = the_params[:location].gsub("", "41 Stewart St, Richmond VIC 3121, Australia") if the_params[:location] == "" %>
  data-center="<%= Geocoder.search(location).first.coordinates %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  >
  <div id="ajax-slider">
    <%= render 'search/slider' %>
  </div>
</div>



<div class="modal fade js-drink-modal" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content product-card-modal card">
      <div class="modal-body">
        <!-- <img src="https://images.unsplash.com/photo-1558642891-54be180ea339?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" class="product-card-image-modal card-img-top" alt="beer-image"/> -->
          <h2 class="product-card-brand-modal js-drink-store"></h2>
          <h3 class="product-card-name-modal js-drink-name"></h3>
          <p class="product-card-price-modal js-drink-price"></p>
          <p class="js-drink-standards"></p>
          <p class="js-drink-abv"></p>
          <div class="product-card-footer-modal">
            <div class="product-card-distance-modal js-drink-distance"></div>
            <div class="product-card-distance-modal js-drink-distance-time"></div>
          </div>
          <a class="js-drink-maps" href="">Take me there</a>
        </div>

      </div>
    </div>
  </div>
</div>



<!-- <p>Brand < x.first.product.drink.name %></p>
<p>Store < x.first.inventory.store.name %></p>
<p>Price < x.first.inventory.price_cents.to_f/100 %></p>
<p>ABV < x.first.product.drink.abv %></p> -->
