<div>
  <%= simple_form_for :filters, remote: true, url: results_path, method: :get do |f| %>
  <% the_params = params[:filters] || params[:results] || params[:favourited] %> 
    <%= f.input :category, :as => :hidden, :input_html => { :value => the_params[:category] } %>
    <%= f.input :location, :as => :hidden, :input_html => { :value => the_params[:location] } %>
    <%= f.input :size, :as => :hidden, :input_html => { :value => the_params[:size] } %>
    <% if the_params[:size] == "pack" %>
    <%= f.collection_radio_buttons :sizetype, [['6 Pack', '6'], ['4 Pack', '4'], ['Reset', '4 6']], :last, :first %>
    <% else %>
    <%= f.collection_radio_buttons :sizetype, [['24 Pack', '24'], ['30 Pack', '30'], ['Reset', '24 30']], :last, :first %>
    <% end %>
    <%= f.collection_radio_buttons :distancetype, [['Distance in meters', 'meters'], ['Time in minutes', 'minutes'], ['Reset', 'Reset']], :last, :first %>
    <%= f.input :amount, as: :integer, label: false %>
    <%= f.button :submit, value: 'Go', "data-disable-with" => "Filtering Best Beers for You..." %>
  <% end %>
</div>

<div
  id="map"
  style="width: 100%;
  height: 100vh;
  position: relative;"
  data-markers="<%= @markers.to_json %>"
  <% the_params = params[:filters] || params[:results] || params[:favourited] %>
  data-center="<%= Geocoder.search(the_params[:location].gsub("Greater ", "")).first.coordinates %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  >
  <div class="swiper-container">
    <%= render 'search/slider' %>
  </div>
</div>



<div class="modal fade js-drink-modal" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content product-card-modal card">
      <div class="modal-body">
        <img src="https://images.unsplash.com/photo-1558642891-54be180ea339?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" class="product-card-image-modal card-img-top" alt="beer-image"/>
          <h2 class="product-card-brand-modal js-drink-store"></h2>
          <h3 class="product-card-name-modal js-drink-name"></h3>
          <p class="product-card-price-modal js-drink-price"></p>
          <p class="js-drink-abv"></p>
          <div class="product-card-footer-modal">
            <div class="product-card-distance-modal">20km</div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>



<!-- <p>Brand < x.first.product.drink.name %></p>
<p>Store < x.first.inventory.store.name %></p>
<p>Price < x.first.inventory.price_cents.to_f/100 %></p>
<p>ABV < x.first.product.drink.abv %></p> -->
