<div>
  <%= simple_form_for :filters, url: results_path, method: :get do |f| %>
  <% the_params = params[:filters] || params[:results] %>
    <%= f.input :category, :as => :hidden, :input_html => { :value => the_params[:category] } %>
    <%= f.input :location, :as => :hidden, :input_html => { :value => the_params[:location] } %>
    <%= f.input :size, :as => :hidden, :input_html => { :value => the_params[:size] } %>
    <%= f.collection_radio_buttons :options, [['Distance in meters', 'meter'], ['Time in minutes', 'min']], :last, :first %>
    <%= f.input :amount, as: :integer, label: false %>
    <%= f.button :submit, value: 'Go', "data-disable-with" => "Filtering Best Beers for You..." %>
  <% end %>
</div>

<div
  id="map"
  style="width: 100%;
  height: 100vh;
  position: relative;"
  data-markers="<%= @markers.to_json %>"
  <% the_params = params[:filters] || params[:results] %>
  data-center="<%= Geocoder.search(the_params[:location]).first.coordinates %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  >

  <div class="swiper-container">
    <div class="swiper-wrapper">
      
      <% @final_results.first(5).each do |x| %>
        <div class="swiper-slide">
          <div class="product-card card">
            <button 
            type="button" 
            class="js-drink-carousel-item" 
            data-toggle="modal" 
            data-target="#exampleModalCenter" data-drink-name="<%= x.first.product.drink.name %>"
            data-drink-store="<%= x.first.inventory.store.name %>"
            data-drink-price="<%= x.first.inventory.price_cents.to_f/100 %>"
            data-drink-abv="<%= x.first.product.drink.abv %>"
            >
            <div class="product-card-price">
              <p class="product-card-price-text">
                $<%= x.first.inventory.price_cents.to_f/100 %> 
              </p>
            </div>
            <div class="product-card-details">
              <p><%= x.first.product.drink.name %></p>
              <%= link_to "Let's get there", "https://www.google.com/maps/dir/#{the_params[:location]}/#{x.first.inventory.store.address}" %>

            </div>
          </div>
        </div>
      <% end %>

      </button>

    </div>
    <div class="swiper-pagination"></div>
  </div>

</div>
  


 


<div class="modal fade js-drink-modal" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content product-card-modal card">
      <div class="modal-body">
        <img src="https://images.unsplash.com/photo-1558642891-54be180ea339?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" class="product-card-image-modal card-img-top" alt="beer-image"/>
          <h2 class="product-card-brand-modal js-drink-store"></h2>
          <h3 class="product-card-name-modal js-drink-name"></h3>
          <p class="product-card-price-modal js-drink-price"></p>
          <p class="js-drink-abv"></p>
          <div class="product-card-footer-modal">
            <div class="product-card-distance-modal">20km</div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>



<!-- <p>Brand < x.first.product.drink.name %></p> 
<p>Store < x.first.inventory.store.name %></p>
<p>Price < x.first.inventory.price_cents.to_f/100 %></p>
<p>ABV < x.first.product.drink.abv %></p> -->
