<div class="beer-bottle-six-pack">
	<%= render "shared/beer-bottle" %>
	<%= render "shared/beer-bottle" %>
	<%= render "shared/beer-bottle" %>
	<%= render "shared/beer-bottle" %>
	<%= render "shared/beer-bottle" %>
	<%= render "shared/beer-bottle" %>
</div>