<div class="navbar sticky-top navbar-expand-sm navbar-light navbar-beer-bandits">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "beer-logo.png" %>
    <span class="navbar-brand-title">Beer Bandits</span>
    <% end %>
  <div class="dropdown">
    <button class="navbar-toggler" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu2">
      <% if user_signed_in? %>
      <button class="dropdown-item nav-link" type="button"><%= link_to "Home", root_path, class: "nav-link" %></button>
      <button class="dropdown-item nav-link" type="button"><%= link_to "Favourites", favourites_path, class: "nav-link" %></button>
      <button class="dropdown-item nav-link" type="button"><%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %></button>
      <% else %>
      <button class="dropdown-item nav-link" type="button"><%= link_to "Login", new_user_session_path, class: "nav-link" %></button>
      <% end %>
    </div>
  </div>
</div>
